# Python Built-In Data Structures

In [1]:
tas = ['flo', 'anne']
type(tas)

list

In [2]:
lt = 'rafa'

In [3]:
teachers = tas + [lt]
teachers

['flo', 'anne', 'rafa']

## Lists

#### Indexing, slicing, appending

#### Iterating through lists

In [4]:
students = ["tobias hegewald","srinivasan narayanan", "silvia delgado abendano" , 
            "shushanik hakobyan hakobyan" , "rene stuedemann", 
            "raphael weidemann" , "peter ludas" , 
            "niranjan shrikant kondo", "nelson lage" , 
            "mercedes santana rodriguez", "marie rodov" , 
            "luca hein","inga eichhorn" ,
            "hong kiu cheng" , "henrike sahnwaldt","enrique hernani ros","emma baker reynolds",
            "edu jockers","dwie steffyanti","denny meyer","carlos martinez","carla colomer",
            "bianca macedo richa","rand abu ajamia"]

In [5]:
students

['tobias hegewald',
 'srinivasan narayanan',
 'silvia delgado abendano',
 'shushanik hakobyan hakobyan',
 'rene stuedemann',
 'raphael weidemann',
 'peter ludas',
 'niranjan shrikant kondo',
 'nelson lage',
 'mercedes santana rodriguez',
 'marie rodov',
 'luca hein',
 'inga eichhorn',
 'hong kiu cheng',
 'henrike sahnwaldt',
 'enrique hernani ros',
 'emma baker reynolds',
 'edu jockers',
 'dwie steffyanti',
 'denny meyer',
 'carlos martinez',
 'carla colomer',
 'bianca macedo richa',
 'rand abu ajamia']

#### Print students with names starting with e

In [6]:
for student in students:
    if student[0] == 'e':
        print(student)

enrique hernani ros
emma baker reynolds
edu jockers

#### Create two lists: "student_names" and "student_surnames"

In [7]:
student_names = []
student_surnames = []

In [8]:
for student in students:
    student_split = student.split()
    student_names.append(student_split[0])
    student_surnames.append(student_split[1])

In [9]:
student_names

['tobias',
 'srinivasan',
 'silvia',
 'shushanik',
 'rene',
 'raphael',
 'peter',
 'niranjan',
 'nelson',
 'mercedes',
 'marie',
 'luca',
 'inga',
 'hong',
 'henrike',
 'enrique',
 'emma',
 'edu',
 'dwie',
 'denny',
 'carlos',
 'carla',
 'bianca',
 'rand']

#### Print the surname for "bianca".

In [10]:
bianca_index = student_names('bianca')
bianca_index

TypeError: 'list' object is not callable

<b>user input

## Dictionaries

#### Accessing keys & values

#### Iterate through dictionary

#### Nested dictionaries

Create a dictionary of teachers. For it teacher, it stores their age, role and the city where they live.

In [15]:
teachers_dict = {
"Raafat":{
"age": 19,
"role":"LT",
"city_residence":"Berlin"
},
"Flo":{
"age":18,
"role":"TA",
"city_residence":"Cologne"
},
"Anne":{
"age":33,
"role":"TA",
"city_residence":"Berlin"
}
}
teachers_dict['Flo']['age']

18

#### Print only name of teachers who live in Berlin

## Tuples

## Sets

#### Take a random sample (with replacement) of 100 numbers from 1 to 100:

What is the expected proportion of unique elements when taking samples with replacement of the same size of the population?

Too soon for statistics: take a hacker approach - repeat the operation a few thousand times and report the average.

In [ ]:
import statistics

### Set items are immutable

In [ ]:
set1 = {1,2,3}

set2 = {1,2,[1,2]} 
# Set elements should be immutable.

### set union

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

In [ ]:
z