#### 1. It is assumed that the mean systolic blood pressure is `μ = 120 mm Hg`. In the Honolulu Heart Study, a sample of `n = 100` people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

   - Set up the hypothesis test.
   - Write down all the steps followed for setting up the test.
   - Calculate the test statistic by hand and also code it in Python. It should be 4.76190. What decision can you make based on this calculated value?

In [13]:
import scipy.stats as stats
import math
import pandas as pd
import numpy as np

In [14]:
# H0: mean=120 mmHg
# Ha: mean!=120
# mean_sample= 130.1 mmHg
# std_sample= 21.21 mmHg

# t= (mean_sample)- mean/(std_sample)/sqrt(100))
# t= 130.1-120/(21.21/10)= 4.7619047619

#confidence level 95% -> alpha= 0.05

#reject the null hypothesis at the α= 0.05 level if t ≥ t(1-0.025) or if t ≤ -t(0.025)

mean_pop= 120
mean_sample=130.1
std_sample= 21.21
n= 100

t= (mean_sample-mean_pop)/(std_sample/math.sqrt(n))
t

4.761904761904759

In [15]:
tc= stats.t.ppf(1-0.025,99)
tc

1.9842169515086827

### Conclusion: the mean of systolic pressure is not 120 mmHg, therefore the null hypothes is rejected

#### 2. In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `Data/machine.txt`. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [16]:
df = pd.read_csv('Data/Data_Machine.txt', sep=r'\s{2,}', engine='python', header=None, names=['new_machine','old_machine'])

In [17]:
df.drop(index=0)

   new_machine old_machine
1         42.1        42.7
2           41        43.6
3         41.3        43.8
4         41.8        43.3
5         42.4        42.5
6         42.8        43.5
7         43.2        43.1
8         42.3        41.7
9         41.8          44
10        42.7        44.1

In [19]:
df['new_machine'] =  pd.to_numeric(df['new_machine'], errors='coerce')
df['old_machine']= pd.to_numeric(df['old_machine'], errors='coerce')
df

    new_machine  old_machine
0           NaN          NaN
1          42.1         42.7
2          41.0         43.6
3          41.3         43.8
4          41.8         43.3
5          42.4         42.5
6          42.8         43.5
7          43.2         43.1
8          42.3         41.7
9          41.8         44.0
10         42.7         44.1

In [21]:
new_mean= np.mean(df['new_machine'])
old_mean= np.mean(df['old_machine'])
new_std = np.std(df['new_machine'])
old_std = np.std(df['old_machine'])
n=10

In [23]:
t = ( new_mean - old_mean ) / np.sqrt( ((new_std**2)/9) + ((old_std**2)/9 ))
t

-3.3972307061176026

In [26]:
#df = sample_size_1 + sample_size_2 - 2 = 18
tc = stats.t.ppf(1-(0.05/2),df = 18)
tc

2.10092204024096

### tc > t. H0 is rejected. New machine is faster