In [1]:
# https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [2]:
#1. Import pandas and check the version

import pandas as pd
pd.__version__

'1.2.4'

In [3]:
#2.Create a pandas series from each of the items below: a list, numpy and dictionary

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

lista = pd.Series(mylist)
lista
nums = pd.Series(myarr)
nums
meudic = pd.Series(mydict)
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [4]:
#3. Convert the series ser into a dataframe with its index as another column on the dataframe.
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict´)

df = pd.DataFrame(ser).reset_index()
df

SyntaxError: invalid character in identifier (<ipython-input-4-ba987fa01b78>, line 5)

In [ ]:
#4. Combine ser1 and ser2 to form a dataframe.
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = {'ser1': ser1, 'ser2': ser2}
df = pd.concat(df, axis = 1)
df

In [ ]:
#5. Give a name to the series ser calling it ‘alphabets’.

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser

In [7]:
#6. From ser1 remove items present in ser2.
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [8]:
#7.Get all items of ser1 and ser2 not common to both.
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [5]:
#8.Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-5.49200705,  6.83930433, 10.36276919, 12.49249196, 24.69948715])

In [16]:
#9. Calculte the frequency counts of each unique value ser.
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

c    7
h    6
b    5
g    4
e    3
f    2
a    2
d    1
dtype: int64

In [17]:
#10. From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser.value_counts()

ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         2
1         4
2         2
3         4
4     Other
5         2
6         4
7     Other
8         4
9     Other
10    Other
11        4
dtype: object

In [21]:
#11. Bin the series ser into 10 equal deciles and replace the values with the bin name.
ser = pd.Series(np.random.random(20))
ser.head(10)
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    8th
1    9th
2    4th
3    9th
4    4th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [25]:
#12. How to convert a numpy array to a dataframe of given shape?

ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser)
df

    0
0   6
1   4
2   7
3   6
4   7
5   2
6   6
7   6
8   3
9   8
10  4
11  2
12  2
13  3
14  4
15  1
16  7
17  3
18  3
19  4
20  6
21  1
22  5
23  2
24  2
25  7
26  4
27  9
28  8
29  1
30  9
31  9
32  7
33  8
34  3

In [34]:
#13. How to find the positions of numbers that are multiples of 3 from a series?

ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser % 3==0)

0    7
1    5
2    5
3    9
4    5
5    9
6    7
dtype: int64

ValueError: Length of passed values is 1, index implies 7.

In [35]:
#14. How to extract items at given positions from a series?
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [37]:
#15. How to stack two series vertically and horizontally?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

ser1.append(ser2)
df = pd.concat([ser1, ser2], axis = 1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [40]:
#16. How to get the positions of items of series A in another series B?

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [42]:
#17. How to compute the mean squared error on a truth and predicted series?

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.21221522422409556

In [45]:
#18. How to convert the first character of each element in a series to uppercase?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [48]:
#19. How to calculate the number of characters in each word in a series?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [50]:
#20. How to compute difference of differences between consequtive numbers of a series?
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [51]:
#21. How to convert a series of date-strings to a timeseries?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [54]:
#22. How to get the day of month, week number, day of year and day of week from a series of date strings?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
print("Date: ", ser_ts.dt.day.tolist())
print("Week number: ", ser_ts.dt.weekofyear.tolist())
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())    
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

NameError: name 'ser_ts' is not defined

In [56]:
#23. How to convert year-month string to dates corresponding to the 4th day of the month?
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [58]:
#24 How to filter words that contain atleast 2 vowels from a series?
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [ ]:
#25.